.brand-logo {
    margin-left: 15px;
}

nav {
    background-color: #3E7669;
}

.navbar-brand {
    font-size: 35px;
}

.row {
    align-items:center;
}

body {
    background-color: #F3F7F7;
}

.logo {
    padding: 0 5px;
    margin: 0 5px;
}

footer {
    background-color: #3E7669;
    height: 75px;
}

.btn-pink {
    background-color: #D1A072;
}

img {
    max-width: 100%;
    max-width: 100%
}

.profile-pic {
    border-radius: 50%;
}

.prof {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-div {
    background-color: #D1A072;
}

/* coolor.co colors: #285238, #C7D9B7, #EA9E8D, #F3F7F7, #0B0014 */